.wd-left-col-icon {
    padding-right: 4px;
}

.wd-search-tuiter-input-a4 {
    color: black;
    background-color: white;
    border-radius: 50px;
    height: 25px;
    width: 90%;
    float: left;
    border: unset;
    position: relative;
    left: 12px;
    outline: unset;
}

.wd-search-tuiter-pill-a4 {
    background-color: white;
    border: 1px #585757 solid;
    border-radius: 50px;
    height: 30px;
    width: 90%;
    float: left;
    margin-top: 12px;
    margin-bottom: 12px;
}

.wd-settings-icon-a4 {
    width: 20px;
    height: auto;
    float: right;
    top: 16px;
    position: relative;
}

.wd-mid-col-padding {
    float: left;
}

.wd-posts-section-a4 {
    float: left;
}

.wd-picture-container {
    margin-top: 12px;
}

.wd-picture {
    width: 100%;
}