.wd-bg-color-black {
    background-color: black;
}

.wd-dots-icon {
    width: 20px;
    height: auto;
    float: right;
    positive: relative;
    top: 12px;
}

.wd-dots-icon2 {
    width: 20px;
    height: auto;
    float: right;
    positive: relative;
    top: 12px;
}